html, body {width: 100%;font-family: arial;}
table {border-collapse: collapse;
    	margin: 0 auto;text-align: center;}

button[type="submit"],button[type="button"], input[type=button] {width: 100px; height: 50px;}
.result{text-align-last: right; width: 398px;
    height: 60px;
    font-size: x-large;}

.numero {background-color: #fffefe;}

